In [1]:
from sklearn import model_selection
from sklearn import metrics
from sklearn.utils import shuffle
from sklearn import metrics
from sklearn.ensemble import BaggingRegressor as BR
from sklearn.ensemble import ExtraTreesRegressor as ETR
import pandas as pd
import numpy as np
df = pd.read_excel('hackaton_data_5post.xlsx', index_col = 0) # Грузим датасет
info = df[['ADDRESS', 'CITY', 'REGION']] # Выделяем столбцы со справочной информацией в отдельный DataFrame
del df['ADDRESS'], df['CITY'], df['REGION'] # Удаляем из исходного датасета столбцы со справочной информацией
#Возможно, сами адреса магазинов учитывались бы при выборе наиболее доступных магазинов для клиентов магазина
df = df.fillna(0) # заменяем все NaN на 0
df['NEAR_Stations'].replace([u'остановка', u'автостанция', '0'], [1, 1, 0], inplace=True) # Остановка -> 1
df['Summ_daily'] = df['Postamat_daily'] + df['cashbox_daily'] # Создаём новый столбец с суммой выдач постаматов и кэшбоксов
dflearn = df.loc[df['Summ_daily'] != 0] # Выделяем те точки, где есть что-то
dfresult = df.loc[df['Summ_daily'] == 0] # Выделяем точки для предсказания
dflearn = dflearn.iloc[:,5:]
dfresult = dfresult.iloc[:,5:]
dflearn = shuffle(dflearn, random_state=25) # Перемешивает исходную выборку
dftarget = dflearn['Summ_daily']
del dflearn['Summ_daily']

In [2]:
n = len(dflearn)
deln = int(n*0.25)
dfl1 = dflearn[:deln]
dfl2 = dflearn[deln:2*deln]
dfl3 = dflearn[2*deln:3*deln]
dfl4 = dflearn[-deln:]
dft1 = dftarget[:deln]
dft2 = dftarget[deln:2*deln]
dft3 = dftarget[2*deln:3*deln]
dft4 = dftarget[-deln:]

In [3]:
dflerror = pd.concat([dfl2, dfl3, dfl4])
dfterror = pd.concat([dft2, dft3, dft4])
dflerror2 = dfl1
dfterror2 = dft1
model = BR(base_estimator = ETR(n_estimators = 21), n_estimators = 34)
model.fit(dflerror, dfterror)
arr = (model.predict(dflerror2) - dfterror2) / dfterror2
indexes = arr[abs(arr) >  2].index.tolist()
dflerror2 = dflerror2.drop(indexes)
dfterror2 = dfterror2.drop(indexes)
DFL1 = dflerror2
DFT1 = dfterror2

In [4]:
dflerror = pd.concat([dfl1, dfl3, dfl4])
dfterror = pd.concat([dft1, dft3, dft4])
dflerror2 = dfl2
dfterror2 = dft2
model = BR(base_estimator = ETR(n_estimators = 21), n_estimators = 34)
model.fit(dflerror, dfterror)
arr = (model.predict(dflerror2) - dfterror2) / dfterror2
indexes = arr[abs(arr) >  2].index.tolist()
dflerror2 = dflerror2.drop(indexes)
dfterror2 = dfterror2.drop(indexes)
DFL2 = dflerror2
DFT2 = dfterror2

In [5]:
dflerror = pd.concat([dfl1, dfl2, dfl4])
dfterror = pd.concat([dft1, dft2, dft4])
dflerror2 = dfl3
dfterror2 = dft3
model = BR(base_estimator = ETR(n_estimators = 21), n_estimators = 34)
model.fit(dflerror, dfterror)
arr = (model.predict(dflerror2) - dfterror2) / dfterror2
indexes = arr[abs(arr) >  2].index.tolist()
dflerror2 = dflerror2.drop(indexes)
dfterror2 = dfterror2.drop(indexes)
DFL3 = dflerror2
DFT3 = dfterror2

In [6]:
dflerror = pd.concat([dfl1, dfl2, dfl3])
dfterror = pd.concat([dft1, dft2, dft3])
dflerror2 = dfl4
dfterror2 = dft4
model = BR(base_estimator = ETR(n_estimators = 21), n_estimators = 34)
model.fit(dflerror, dfterror)
arr = (model.predict(dflerror2) - dfterror2) / dfterror2
indexes = arr[abs(arr) >  2].index.tolist()
dflerror2 = dflerror2.drop(indexes)
dfterror2 = dfterror2.drop(indexes)
DFL4 = dflerror2
DFT4 = dfterror2

In [7]:
DFL = pd.concat([DFL1, DFL2, DFL3, DFL4])
DFT = pd.concat([DFT1, DFT2, DFT3, DFT4])
DF = DFL.join(DFT)

In [8]:
model = BR(base_estimator = ETR(n_estimators = 21), n_estimators = 34)
model.fit(DFL, DFT) # Обучаем на всей выборке (то бишь там, где есть или постомат, или кэшбокс, или то и то)
predict_= model.predict(dfresult) # предикт на всю таблицу

In [9]:
dfresult['result'] = np.around(predict_, 2)
del dfresult['Summ_daily']

In [10]:
dfSum = df.loc[(df['Postamat_daily'] != 0) & (df['cashbox_daily'] != 0)]
my_mean = dfSum['Summ_daily'].mean()
#Выбор порогового значения для постоматов. Возможно поменять условие с учетом "успешности" постомата или, 
#Например, порог может выбирать ЛПР, или же устанавливаться исходя из результатов задач логистики
dfPost = dfresult.loc[dfresult['result'] > my_mean] 
dfCashbox = dfresult.loc[(dfresult['result'] < my_mean) & (dfresult['result'] > 1)]

##### Результаты
Таблица с постоматами и с кэшбоксами (предсказанные значения лежат в столбце result)

In [11]:
dfPost

,hh_500,value1,value2,POPULATION,NEAR_Malls,NEAR_Business_centers,NEAR_metro_rjd,NEAR_Stations,macro_salary_avg_yearly,result
1,6369.0,10068,3236,324698,1,1,0.0,1,423321,4.66
5,5023.0,10100,3484,482873,1,0,0.0,1,387679,5.14
12,6686.0,10094,3187,482873,1,0,0.0,1,387679,4.76
19,3773.0,10094,3114,324698,0,1,0.0,1,423321,4.43
20,5082.0,10042,3003,482873,1,1,0.0,1,387679,5.36
25,6469.0,10061,3010,482873,1,0,0.0,0,387679,5.06
33,3971.0,10094,3096,482873,1,0,0.0,0,387679,6.00
34,3148.0,10053,3083,324698,1,0,0.0,0,423321,4.75
43,5223.0,9987,2939,482873,1,0,0.0,1,387679,4.20
63,1072.0,10036,3090,482873,1,0,0.0,1,387679,4.51
64,4456.0,10039,2974,482873,1,0,0.0,1,387679,4.43

In [12]:
dfCashbox

,hh_500,value1,value2,POPULATION,NEAR_Malls,NEAR_Business_centers,NEAR_metro_rjd,NEAR_Stations,macro_salary_avg_yearly,result
16,7339.0,10085,3142,482873,0,0,0.0,1,387679,3.05
17,7552.0,10036,2945,324698,0,1,0.0,0,423321,2.82
21,4982.0,10087,3159,104739,0,1,0.0,1,423321,2.51
22,7836.0,10054,3075,104739,0,0,0.0,1,423321,2.94
42,2022.0,10094,3139,11288,0,0,1.0,0,423321,1.55
48,1748.0,10063,2968,324698,0,0,1.0,1,423321,2.82
75,6036.0,9973,2829,482873,0,0,0.0,0,387679,2.46
76,6122.0,9984,2767,482873,0,0,0.0,0,387679,2.93
82,354.0,10100,3238,7117,0,0,0.0,0,387679,1.13
83,2071.0,10099,3187,9171,0,0,0.0,1,387679,1.19
88,3938.0,10087,3091,58139,0,0,0.0,0,387679,1.79
89,4310.0,10031,2965,55282,1,0,0.0,0,387679,1.94
90,3611.0,10081,3110,64552,0,0,0.0,0,387679,1.68
92,4928.0,10001,2827,482873,0,0,0.0,0,387679,2.54
94,6227.0,9933,2682,482873,1,0,0.0,0,387679,3.82
96,5063.0,9982,2728,104739,0,0,0.0,1,423321,2.29
98,1045.0,10099,3102,15224,1,0,0.0,0,387679,2.00
104,1335.0,10069,2918,482873,0,0,0.0,0,387679,2.26
105,2191.0,10051,2908,482873,0,0,0.0,0,387679,2.26
111,4286.0,9969,2764,482873,1,0,0.0,0,387679,3.74
112,3462.0,10005,2820,482873,0,0,0.0,0,387679,2.34
115,2089.0,9992,2842,64552,0,0,1.0,0,387679,1.03
127,3343.0,10036,2929,55282,0,0,0.0,0,387679,1.15
128,3076.0,10031,2843,58139,1,0,0.0,0,387679,1.82
129,680.0,10020,2859,324698,0,0,0.0,0,423321,2.43
136,2487.0,9990,2811,482873,0,0,0.0,1,387679,2.72
137,1909.0,10035,2804,482873,0,0,0.0,0,387679,2.23
142,2239.0,10069,2993,58139,0,0,0.0,0,387679,1.16
144,4226.0,9979,2865,58139,1,0,0.0,0,387679,1.82
145,3394.0,9997,2900,61732,0,0,0.0,0,387679,1.12
...,...,...,...,...,...,...,...,...,...,...
303,1271.0,9957,2665,15224,0,1,0.0,0,387679,1.23
304,840.0,9922,2556,14496,0,0,1.0,0,423321,1.18
307,1286.0,9959,2678,58139,0,0,0.0,0,387679,1.13
321,2170.0,9977,2761,31897,0,0,0.0,0,387679,1.30
323,292.0,10074,2755,4288,0,0,0.0,0,423321,1.19
325,262.0,10006,2746,18245,0,0,0.0,0,423321,1.41
327,1556.0,9968,2732,8942,0,0,0.0,0,387679,1.24
328,336.0,10027,2727,7056,0,0,0.0,0,423321,1.26
329,845.0,9957,2720,16273,0,0,0.0,0,423321,1.70
331,68.0,10069,2718,460,0,0,0.0,0,423321,1.08
333,368.0,10000,2714,1667,0,0,0.0,1,423321,1.18
334,200.0,10035,2713,722,0,0,0.0,0,423321,1.08
337,448.0,10075,2696,7056,0,0,0.0,0,423321,1.16
338,116.0,10056,2695,16672,0,0,0.0,0,423321,1.29
341,2185.0,9971,2658,12392,0,0,0.0,0,423321,1.28
342,127.0,10029,2653,2658,1,0,0.0,0,423321,1.90
343,1411.0,9953,2632,119,1,0,0.0,0,387679,1.56
344,2166.0,9932,2576,16672,0,0,0.0,0,423321,1.25
345,377.0,9926,2451,482873,0,0,0.0,1,387679,2.20
353,814.0,9977,2778,31897,0,0,0.0,0,387679,1.05
357,908.0,9964,2699,10058,0,0,0.0,0,387679,1.03
360,2446.0,9959,2688,42350,0,0,0.0,0,387679,1.06
361,1753.0,9962,2680,16795,0,0,0.0,0,387679,1.11
371,467.0,10015,2615,8300,0,0,0.0,0,423321,1.13
376,384.0,10017,2593,9660,0,0,0.0,0,423321,1.16
377,0.0,10012,2584,1627,0,0,0.0,0,423321,1.02
381,1240.0,9933,2513,6326,0,0,0.0,0,423321,1.06
386,320.0,9956,2659,4509,0,0,0.0,0,423321,1.06
402,1180.0,9919,2327,30392,0,0,0.0,0,423321,2.03
408,168.0,9934,2472,16672,0,0,0.0,0,423321,1.19